body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

.top-bar {
    background-color: #333;
    padding: 10px;
    text-align: center;
}

.top-bar input {
    width: 80%;
    padding: 8px;
    border-radius: 5px;
    border: none;
}

.scheme-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    padding: 20px;
    justify-content: center;
}

.scheme-card {
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    color: black;
    width: 250px;
    text-align: center;
}

.scheme-card:hover {
    background-color: #ddd;
}

.scheme-detail {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
}